<footer class="footer">
  <div class="footer-top">
    <div class="subscribe">
      <h4>BE THE FIRST TO KNOW</h4>
      <p>Sign up for updates from mettä muse.</p>
      <div class="subscribe-input">
        <input type="email" placeholder="Enter your e-mail..." />
        <button>SUBSCRIBE</button>
      </div>
    </div>

    <div class="contact-currency">
      <div class="contact">
        <h4>CONTACT US</h4>
        <p>+44 221 133 5360</p>
        <p>customercaremettamuse.com</p>
      </div>
      <div class="currency">
        <h4>CURRENCY</h4>
        <p><img src="assets/usa.svg" alt="flag" /> USD</p>
        <p class="note">Transactions will be completed in Euros...</p>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-col">
      <h5 class="toggle-header">
        mettä muse
        <img class="toggle-arrow" src="assets/white-arrow.svg" alt="toggle" />
      </h5>
      <ul>
        <li>About Us</li>
        <li>Stories</li>
        <li>Artisans</li>
        <li>Boutiques</li>
        <li>Contact Us</li>
        <li>EU Compliances Docs</li>
      </ul>
    </div>

    <div class="footer-col">
      <h5 class="toggle-header">
        QUICK LINKS
        <img class="toggle-arrow" src="assets/white-arrow.svg" alt="toggle" />
      </h5>
      <ul>
        <li>Orders & Shipping</li>
        <li>Join/Login as a Seller</li>
        <li>Payment & Pricing</li>
        <li>Return & Refunds</li>
        <li>FAQs</li>
        <li>Privacy Policy</li>
        <li>Terms & Conditions</li>
      </ul>
    </div>

    <div class="footer-col">
      <div>
        <h5 class="toggle-header">
          FOLLOW US
          <img class="toggle-arrow" src="assets/white-arrow.svg" alt="toggle" />
        </h5>
        <div class="social-icons">
          <img src="assets/insta.svg" alt="insta" />
          <img src="assets/linkedin.svg" alt="linkedin" />
        </div>
      </div>

      <div class="footer-pay">
        <h5>mettä muse ACCEPTS</h5>
        <div class="payment-icons">
          <img src="assets/gpay.png" alt="gpay" />
          <img src="assets/mastercard.png" alt="mastercard" />
          <img src="assets/amex.png" alt="amex" />
          <img src="assets/applepay.png" alt="applepay" />
          <img src="assets/paypal.png" alt="paypal" />
          <img src="assets/visa.png" alt="visa" />
        </div>
      </div>
    </div>
  </div>

  <p class="copyright">Copyright © 2025 mettamuse. All rights reserved.</p>
</footer>
